<div class="m-2 p-2">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 m-2">
                <h5>Escribenos</h5>
                <div class="mt-4">
                    <form>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Asunto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 m-2">
                <h5>Oficinas</h5>
                <div class="mt-4">
                    <p>Jalpa de Canovas, Leon, Gto.</p>
                    <p>Teléfono: 476-131-2219</p>
                    <p>Atención al cliente: 476-131-2219</p>
                    <p>perfume.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
