<div class="m-2 p-2">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-md-auto">
                <img src="/assets/img/logo.jpg" class="img-fluid" style="max-height: 200px;">
            </div>
            <div class="col-md-auto">
                <h1 class="display-4">Diana Perfumería</h1>
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/banner.jpg" class="img-fluid" style="height: 300px;">
                    <img src="/assets/img/bannerPerfume.jpg" class="img-fluid" style="height: 300px;">
                    <img src="/assets/img/bannerPerfumeHombre.jpg" class="img-fluid" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div>
